{{ define "main" }}

<div class="row hero align-items-center">
  <div class="col-sm-8 greeting fadeIn">
    <h2>Hej! I'm <span>Retno Ika</span>, a Product Designer <br/>and Strategist from Bali. I love to solve problems using research-based design.</h2>
    <h6>
      Proudly a tech-entrepreneur, co-founder of <a href="https://tanibox.com">Tanibox</a> and <a href="https://chloematt.com">Chloe & Matt</a>.
    </h6>
  </div>
  <div class="col-sm-4">
    <img src="img/Hero.png" class="img-fluid fadeIn" alt="Me">
  </div>
</div> 

{{ end }}