{{ define "main" }}

<div class="row blog-nav">
  <div class="col">
    <a href="blogs.html"><i class="fas fa-arrow-left"></i>Back to Blog</a>
  </div>
</div>
<div class="row blog justify-content-md-center">
  <div class="col col-md-9 blog-item blog-post">
    <div class="text-center text-center-xs fadeIn">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</h3>
      <div class="meta-date">April, 30 2019</div>
    </div>
    <div>
      <img src="img/blog/helsinki.jpg" class="img-fluid" alt="Helsinki Station">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Et netus et malesuada fames ac turpis. Sem nulla pharetra diam sit amet nisl suscipit adipiscing. Venenatis cras sed felis eget velit aliquet sagittis. Sapien eget mi proin sed libero enim. In metus vulputate eu scelerisque. Fames ac turpis egestas maecenas pharetra convallis. Platea dictumst vestibulum rhoncus est. Molestie nunc non blandit massa. Enim lobortis scelerisque fermentum dui faucibus. Est velit egestas dui id ornare arcu odio ut sem.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquet risus feugiat in ante metus. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Et netus et malesuada fames ac turpis. Sem nulla pharetra diam sit amet nisl suscipit adipiscing. Venenatis cras sed felis eget velit aliquet sagittis. Sapien eget mi proin sed libero enim. In metus vulputate eu scelerisque. Fames ac turpis egestas maecenas pharetra convallis. Platea dictumst vestibulum rhoncus est. Molestie nunc non blandit massa. Enim lobortis scelerisque fermentum dui faucibus. Est velit egestas dui id ornare arcu odio ut sem.
      </p>
    </div>
  </div>
</div>

{{ end }}