<footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col">
            <h5>Let's Connect</h5>
            <p>I'd love to hear your story. But first, say a friendly hello to me 🙋🏻‍♀️ and let's get ☕️.</p>
            <ul class="nav justify-content-center social-list">
              <li class=""><a href="https://web.facebook.com/retno.co/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
              <li class=""><a href="https://twitter.com/alcatrazia" target="_blank"><i class="fab fa-twitter"></i></a></li>
              <li class=""><a href="https://instagram.com/retnoika.s" target="_blank"><i class="fab fa-instagram"></i></a></li>
              <li class=""><a href="https://www.linkedin.com/in/retnoika/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            </ul>
          </div>
          
        </div>
      </div>
    </footer>