<header class="container">
      <nav class="navbar navbar-expand-md">
        <a class="navbar-brand" href="index.html">
          <img src="{{ "img/logo.png" | absURL}}" class="img-fluid" alt="Retno Ika Safitri">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
          <ul class="navbar-nav mr-sm-1">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li {{ if $currentPage.IsMenuCurrent "main" . }} class="active" {{- end }}>
              <a href="{{ .URL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          
        </div>
      </nav>
    </header>